Repository openfheorg/openfhe-development, pull requests merged in 2022-07, with the labels that each got.

#96 Several fixes
  benchmark/src/bfv-mult-method-benchmark.cpp
  benchmark/src/compare-bfv-hps-vs-behz.cpp
  benchmark/src/compare-bfvrns-vs-bgvrns.cpp
  src/pke/examples/depth-bgvrns.cpp
  src/pke/include/scheme/cryptocontextparams-defaults.h
  src/pke/lib/scheme/bfvrns/bfvrns-leveledshe.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-parametergeneration.cpp
  src/pke/lib/schemebase/base-advancedshe.cpp
  src/pke/unittest/utbfvrns/UnitTestBFVrnsCRTOperations.cpp
Labels: bug

#93 New param set for binfhe
  src/binfhe/lib/binfhecontext.cpp
Labels: bug

#97 updated broken URLS for static docs, and removed doc build off cmake
  CMakeLists.txt
  docs/static_docs/Contributing.md
  scripts/uninstall_openfhe.sh
Labels: documentation

#103 Fix a minor example issue due to parameter change
  src/binfhe/examples/eval-flooring.cpp
Labels: bug

#114 Removal of evalMultCount and replacing it with multiplicativeDepth
  benchmark/src/bfv-mult-method-benchmark.cpp
  benchmark/src/compare-bfv-hps-leveled-vs-behz.cpp
  benchmark/src/compare-bfvrns-vs-bgvrns.cpp
  benchmark/src/lib-benchmark.cpp
  src/pke/examples/depth-bfvrns-behz.cpp
  src/pke/examples/depth-bfvrns.cpp
  src/pke/examples/evalatindex.cpp
  src/pke/examples/pre-buffer.cpp
  src/pke/examples/simple-integers-serial.cpp
  src/pke/examples/simple-integers.cpp
  src/pke/examples/threshold-fhe.cpp
  src/pke/extras/bfvrns.cpp
  src/pke/extras/demo-depth-bfvrns-b.cpp
  src/pke/extras/demo-depth-bfvrns.cpp
  src/pke/extras/run-bfvrns-b.cpp
  src/pke/extras/run-bfvrns.cpp
  src/pke/include/scheme/bfvrns/bfvrns-parametergeneration.h
  src/pke/include/scheme/bfvrns/gen-cryptocontext-bfvrns-internal.h
  src/pke/include/scheme/cryptocontextparams-base.h
  src/pke/include/scheme/cryptocontextparams-defaults.h
  src/pke/include/schemebase/base-parametergeneration.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/include/schemerns/rns-parametergeneration.h
  src/pke/lib/scheme/bfvrns/bfvrns-leveledshe.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-parametergeneration.cpp
  src/pke/lib/scheme/cryptocontextparams-base-impl.cpp
  src/pke/unittest/UnitTestENCRYPT.cpp
  src/pke/unittest/UnitTestEncoding.cpp
  src/pke/unittest/UnitTestEvalMult.cpp
  src/pke/unittest/UnitTestEvalMultMany.cpp
  src/pke/unittest/UnitTestMultihopPRE.cpp
  src/pke/unittest/UnitTestMultiparty.cpp
  src/pke/unittest/UnitTestPRE.cpp
  src/pke/unittest/UnitTestSHE.cpp
  src/pke/unittest/utbfvrns/UnitTestBFVrnsAutomorphism.cpp
  src/pke/unittest/utbfvrns/UnitTestBFVrnsCRTOperations.cpp
  src/pke/unittest/utbfvrns/UnitTestBFVrnsSerialize.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrns.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrnsAdvancedSHE.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrnsAutomorphism.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrnsSerialize.cpp
  src/pke/unittest/utckksrns/UnitTestBootstrap.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrns.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrnsAutomorphism.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrnsSerialize.cpp
  src/pke/unittest/utckksrns/UnitTestPoly.cpp
  src/pke/unittest/utils/UnitTestCCParams.cpp
  src/pke/unittest/utils/UnitTestCCParams.h
  src/pke/unittest/utils/UnitTestCryptoContext.cpp
Labels: cleanup

#116 Cleanup of PKE examples and user API
  benchmark/src/bfv-mult-method-benchmark.cpp
  benchmark/src/compare-bfv-hps-leveled-vs-behz.cpp
  benchmark/src/compare-bfvrns-vs-bgvrns.cpp
  benchmark/src/lib-benchmark.cpp
  src/pke/examples/README.md
  src/pke/examples/advanced-real-numbers-128.cpp
  src/pke/examples/advanced-real-numbers.cpp
  src/pke/examples/ckks-bootstrap.cpp
  src/pke/examples/depth-bfvrns-behz.cpp
  src/pke/examples/depth-bfvrns.cpp
  src/pke/examples/depth-bgvrns.cpp
  src/pke/examples/linearwsum-evaluation.cpp
  src/pke/examples/polynomial-evaluation.cpp
  src/pke/examples/pre-buffer.cpp
  src/pke/examples/rotation.cpp
  src/pke/examples/simple-integers-bgvrns.cpp
  src/pke/examples/simple-integers-serial-bgvrns.cpp
  src/pke/examples/simple-integers-serial.cpp
  src/pke/examples/simple-integers.cpp
  src/pke/examples/simple-real-numbers-serial.cpp
  src/pke/examples/simple-real-numbers.cpp
  src/pke/examples/threshold-fhe.cpp
  src/pke/extras/bfvrns.cpp
  src/pke/extras/demo-depth-bfvrns-behz.cpp
  src/pke/extras/demo-depth-bfvrns.cpp
  src/pke/extras/run-bfvrns-behz.cpp
  src/pke/extras/run-bfvrns.cpp
  src/pke/include/openfhe.h
Labels: cleanup

#118 Documentation updates for the initial release
  CMakeLists.txt
  README.md
  docs/index.rst
  docs/sphinx_rsts/intro/building_user_applications.rst
  docs/sphinx_rsts/intro/installation/cmake_in_openfhe.rst
  docs/sphinx_rsts/intro/installation/installation.rst
  docs/sphinx_rsts/intro/quickstart.rst
  docs/sphinx_rsts/intro/using_the_library.rst
  docs/sphinx_rsts/misc/contributors.rst
  docs/sphinx_rsts/modules/binfhe.rst
  docs/sphinx_rsts/modules/pke/pke_keyswitch.rst
  docs/sphinx_rsts/modules/pke/pke_scheme.rst
  src/README.md
  src/binfhe/README.md
  src/binfhe/include/README.md
  src/core/include/README.md
  src/pke/examples/README.md
Labels: documentation

#124 addjusted BGV parameters and removed some extras
  src/pke/extras/bfvrns.cpp
  src/pke/extras/demo-depth-bfvrns-behz.cpp
  src/pke/extras/demo-depth-bfvrns.cpp
  src/pke/include/scheme/bgvrns/gen-cryptocontext-bgvrns-internal.h
  src/pke/include/scheme/ckksrns/gen-cryptocontext-ckksrns-internal.h
Labels: cleanup

#129 Updated documentation
  README.md
  docs/sphinx_rsts/intro/quickstart.rst
  docs/sphinx_rsts/misc/contributors.rst
  src/pke/examples/README.md
  src/pke/extras/ckks-bootstrap.cpp
Labels: documentation

#140 updated README and version
  CMakeLists.txt
  README.md
  docs/static_docs/Release_Notes.md
Labels: documentation
