Repository openfheorg/openfhe-development, pull requests merged in 2022-08, with the labels that each got.

#165 riscv support
  src/core/include/math/hal/intnat/ubintnat.h
Labels: enhancement

#164 Corrections to docker files
  docker/Dockerfile
  docker/README.md
  docker/upload-tagged-docker.sh
Labels: bug

#170 Update to v0.9.2
  CMakeLists.txt
  docs/static_docs/Release_Notes.md
  src/pke/examples/README.md
Labels: documentation

#166 113 bfv keyswitch
  benchmark/src/mult-vs-square.cpp
  src/pke/include/cryptocontext.h
  src/pke/include/scheme/bfvrns/bfvrns-leveledshe.h
  src/pke/include/scheme/bgvrns/bgvrns-leveledshe.h
  src/pke/include/scheme/ckksrns/ckksrns-leveledshe.h
  src/pke/include/schemebase/base-leveledshe.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/lib/scheme/bfvrns/bfvrns-leveledshe.cpp
  src/pke/lib/scheme/bgvrns/bgvrns-leveledshe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-leveledshe.cpp
  src/pke/lib/schemebase/base-leveledshe.cpp
Labels: optimization
