Repository openfheorg/openfhe-development, pull requests merged in 2022-10, with the labels that each got.

#196 updated to v0.9.4
  CMakeLists.txt
  docs/static_docs/Release_Notes.md
Labels: documentation

#207 Fixed a bug in SET_TO_SCHEME_DEFAULT
  src/pke/lib/scheme/cryptocontextparams-base-impl.cpp
Labels: bug

#202 Improve CKKS bootstrapping precision for FLEXIBLEAUTOEXT.
  src/pke/extras/ckks-bootstrapping-precision.cpp
  src/pke/include/cryptocontext.h
  src/pke/include/scheme/ckksrns/ckksrns-fhe.h
  src/pke/include/schemebase/base-fhe.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
Labels: enhancement

#210 Fixes related to tracking the number of slots for CKKS
  src/pke/lib/schemebase/base-advancedshe.cpp
Labels: bug
