Repository openfheorg/openfhe-development, pull requests merged in 2023-06, with the labels that each got.

#424 fixed the bug with large CKKS plaintexts
  src/pke/lib/encoding/ckkspackedencoding.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrns.cpp
Labels: bug

#427 Fixed modulus computation in GenerateBinFHEContext overload (issue#426)
  src/binfhe/lib/binfhecontext.cpp
Labels: bug

#429 Port of PR#415 - Fix some undefined behavior
  src/pke/lib/encoding/ckkspackedencoding.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
Labels: bug

#403 Fix for segmentation fault in MakeCKKSPackedPlaintext()
  src/pke/include/cryptocontext.h
Labels: bug

#432 Issue 382 - Fix BFV security check
  src/pke/lib/scheme/bfvrns/bfvrns-parametergeneration.cpp
  src/pke/unittest/UnitTestSHE.cpp
Labels: bug

#436 Fixes bugs with large scalars in CKKS
  src/pke/include/constants.h
  src/pke/lib/encoding/ckkspackedencoding.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-leveledshe.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrns.cpp
Labels: bug

#422 fix bfv hps
  src/core/include/lattice/hal/default/dcrtpoly-impl.h
  src/core/include/utils/utilities.h
  src/pke/extras/bfv-mult-bug.cpp
  src/pke/include/encoding/ckkspackedencoding.h
  src/pke/unittest/utbfvrns/UnitTestBFVrnsCRTOperations.cpp
Labels: bug

#447 updated version to v1.0.4
  CMakeLists.txt
  README.md
  docs/sphinx_rsts/misc/contributors.rst
  docs/static_docs/Release_Notes.md
Labels: documentation

#451 Functions to check enabled features in the cryptocontext
  src/pke/include/schemebase/base-scheme.h
  src/pke/lib/schemebase/base-scheme.cpp
Labels: bug

#453 Small correction to the migration guide (from Palisade to OpenFHE)
  docs/sphinx_rsts/misc/z_migration_guide.rst
Labels: documentation

#442 fix for issue #402
  src/core/include/lattice/hal/default/dcrtpoly-impl.h
  src/core/include/lattice/hal/default/poly-impl.h
  src/core/include/lattice/hal/default/poly.h
  src/core/include/lattice/hal/poly-interface.h
  src/core/include/math/hal/intnat/transformnat-impl.h
  src/core/include/utils/utilities.h
  src/core/lib/utils/utilities.cpp
  src/pke/include/encoding/ckkspackedencoding.h
  src/pke/include/scheme/ckksrns/ckksrns-fhe.h
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/encoding/ckkspackedencoding.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
Labels: bug

#459 New function to estimate the levels consumed in bootstrapping
  src/pke/examples/advanced-ckks-bootstrapping.cpp
  src/pke/examples/iterative-ckks-bootstrapping.cpp
  src/pke/examples/simple-ckks-bootstrapping.cpp
  src/pke/extras/ckks-bootstrapping-precision.cpp
  src/pke/include/scheme/ckksrns/ckksrns-fhe.h
  src/pke/include/scheme/ckksrns/ckksrns-utils.h
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-utils.cpp
Labels: cleanup

#460 Add instructions for custom build location in user project
  CMakeLists.User.txt
  docs/sphinx_rsts/intro/building_user_applications.rst
  docs/sphinx_rsts/intro/installation/installation.rst
Labels: documentation
