Repository openfheorg/openfhe-development, pull requests merged in 2023-05, with the labels that each got.

#357 Fix eval-decomp example returning wrong output
  src/binfhe/examples/eval-decomp.cpp
  src/binfhe/lib/binfhe-base-scheme.cpp
  src/binfhe/unittest/UnitTestFunc.cpp
Labels: bug

#384 Modified Native Transform
  src/core/include/math/hal/intnat/transformnat-impl.h
Labels: optimization

#394 Added a missing argument (ExecutionMode) to calls to Decode()
  src/pke/lib/cryptocontext.cpp
Labels: bug

#395 Added check to make sure that std::map<>::find() returns a valid iterator
  src/pke/include/ciphertext.h
  src/pke/lib/scheme/bfvrns/bfvrns-leveledshe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-leveledshe.cpp
  src/pke/lib/schemebase/base-leveledshe.cpp
  src/pke/lib/schemebase/base-multiparty.cpp
Labels: bug

#401 Add check to SetRingDim()
  src/pke/include/scheme/cryptocontextparams-base.h
  src/pke/lib/scheme/cryptocontextparams-base-impl.cpp
Labels: bug

#405 Do not request git to be installed if GIT_SUBMOD_AUTO=OFF
  CMakeLists.txt
Labels: bug

#406 Code improvements
  src/pke/CMakeLists.txt
  src/pke/include/cryptocontext-ser.h
  src/pke/include/cryptocontext.h
  src/pke/include/cryptocontextfactory.h
  src/pke/include/encoding/ckkspackedencoding.h
  src/pke/include/keyswitch/keyswitch-base.h
  src/pke/include/keyswitch/keyswitch-bv.h
  src/pke/include/keyswitch/keyswitch-hybrid.h
  src/pke/include/scheme/bfvrns/bfvrns-pke.h
  src/pke/include/schemebase/base-pke.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/cryptocontextfactory.cpp
  src/pke/lib/keyswitch/keyswitch-bv.cpp
  src/pke/lib/keyswitch/keyswitch-hybrid.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-pke.cpp
  src/pke/lib/schemebase/base-pke.cpp
  src/pke/lib/schemebase/base-scheme.cpp
  src/pke/unittest/utils/UnitTestCryptoContext.cpp
Labels: bug, cleanup

#417 Small documentation fixes
  docs/sphinx_rsts/intro/installation/cmake_in_openfhe.rst
  src/binfhe/examples/boolean-truth-tables.cpp
Labels: documentation
