Repository openfheorg/openfhe-development, pull requests merged in 2023-08, with the labels that each got.

#526 Added the binfhe include directory
  CMakeLists.User.txt
Labels: bug

#537 Throw an exception if the modulus is zero
  src/binfhe/include/lwe-cryptoparameters.h
Labels: bug

#538 Fixed a bug: [ERROR: AddressSanitizer: stack-use-after-scope]
  src/core/include/lattice/hal/dcrtpoly-interface.h
Labels: bug

#531 fix errors for gcc13
  src/core/include/lattice/constants-lattice.h
Labels: bug

#544 Corrected logic in OpenFHEConfig.cmake.in
  OpenFHEConfig.cmake.in
Labels: bug

#547 Update to v1.1.1
  CMakeLists.txt
  docs/requirements.txt
  docs/static_docs/Release_Notes.md
Labels: documentation

#548 Updates to v1.1.1
  CMakeLists.User.txt
  CMakeLists.txt
  OpenFHEConfig.cmake.in
  docs/requirements.txt
  docs/sphinx_rsts/intro/tutorials.rst
  docs/static_docs/Release_Notes.md
  docs/static_docs/Threshold_FHE.md
  src/binfhe/include/lwe-cryptoparameters.h
  src/core/include/lattice/constants-lattice.h
  src/core/include/lattice/hal/dcrtpoly-interface.h
  src/core/lib/math/chebyshev.cpp
  src/pke/CMakeLists.txt
  src/pke/lib/scheme/ckksrns/ckksrns-schemeswitching.cpp
Labels: new release

#552 Corrected the precompute logic to work the same way as it used to work in palisade
  src/pke/include/scheme/bfvrns/bfvrns-cryptoparameters.h
  src/pke/include/scheme/bgvrns/bgvrns-cryptoparameters.h
  src/pke/include/scheme/ckksrns/ckksrns-cryptoparameters.h
  src/pke/lib/scheme/bfvrns/bfvrns-cryptoparameters.cpp
  src/pke/lib/scheme/bgvrns/bgvrns-cryptoparameters.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-cryptoparameters.cpp
  src/pke/lib/schemebase/base-pke.cpp
Labels: bug
