Repository openfheorg/openfhe-development, pull requests merged in 2023-11, with the labels that each got.

#574 Fixed mupliple issues: general and for Emscripten
  CMakeLists.txt
  configure/config_core.in
  src/core/include/math/hal/basicint.h
  src/core/include/math/hal/bigintdyn/ubintdyn.h
  src/core/include/math/hal/intnat/mubintvecnat.h
  src/core/include/math/nbtheory-impl.h
  src/core/include/math/nbtheory.h
  src/core/include/utils/get-call-stack.h
  src/core/lib/utils/get-call-stack.cpp
  src/pke/include/constants.h
  src/pke/include/scheme/ckksrns/ckksrns-fhe.h
Labels: bug

#590 Added relations between classes for serialization
  src/pke/include/scheme/ckksrns/ckksrns-ser.h
  src/pke/include/schemerns/rns-ser.h
Labels: bug

#566 Create one map for all automorphism keys
  src/pke/include/cryptocontext.h
  src/pke/include/schemebase/base-advancedshe.h
  src/pke/include/schemebase/base-leveledshe.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-schemeswitching.cpp
  src/pke/lib/schemebase/base-advancedshe.cpp
  src/pke/lib/schemebase/base-leveledshe.cpp
  src/pke/lib/schemebase/base-scheme.cpp
  src/pke/unittest/utils/UnitTestSer.h
Labels: optimization

#593 578 fast xor
  benchmark/src/binfhe-ap-pke.cpp
  benchmark/src/binfhe-ap.cpp
  benchmark/src/binfhe-ginx-pke.cpp
  benchmark/src/binfhe-ginx.cpp
  benchmark/src/binfhe-lmkcdey.cpp
  src/binfhe/examples/boolean-truth-tables.cpp
  src/binfhe/examples/pke/boolean-truth-tables-pke.cpp
  src/binfhe/include/binfhe-constants.h
  src/binfhe/lib/binfhe-base-scheme.cpp
  src/binfhe/lib/binfhe-constants-impl.cpp
  src/binfhe/lib/rgsw-cryptoparameters.cpp
  src/binfhe/unittest/UnitTestFHEW.cpp
  src/binfhe/unittest/UnitTestFHEWPKE.cpp
Labels: optimization

#588 Closing Issue583
  benchmark/src/Lattice.cpp
  benchmark/src/VectorMath.cpp
  benchmark/src/poly-benchmark-16k.cpp
  benchmark/src/poly-benchmark-1k.cpp
  benchmark/src/poly-benchmark-4k.cpp
  benchmark/src/poly-benchmark-64k.cpp
  benchmark/src/poly-benchmark-8k.cpp
  benchmark/src/poly-benchmark.h
  src/core/include/lattice/README.md
  src/core/include/lattice/elemparamfactory.h
  src/core/include/lattice/hal/default/ilparams.h
  src/core/include/math/hal/basicint.h
  src/core/include/utils/parmfactory.h
  src/core/lib/lattice/elemparamfactory.cpp
  src/core/unittest/UnitTestBinInt.cpp
  src/core/unittest/UnitTestCommonElements.cpp
  src/core/unittest/UnitTestDCRTElements.cpp
  src/core/unittest/UnitTestPolyElements.cpp
  src/core/unittest/UnitTestSerialize.cpp
  src/core/unittest/UnitTestTrapdoor.cpp
  src/pke/unittest/UnitTestEncoding.cpp
  src/pke/unittest/utbfvrns/UnitTestBFVrnsCRTOperations.cpp
  src/pke/unittest/utbfvrns/UnitTestBFVrnsDecrypt.cpp
Labels: bug, cleanup

#597 Corrected the serialization unittest for CKKS boostrapping
  src/pke/unittest/utckksrns/UnitTestBootstrap.cpp
Labels: bug

#600 Added a scheme verification for CKKS-based functionalities in cryptoc…
  src/pke/include/cryptocontext.h
  src/pke/include/scheme/scheme-id.h
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/scheme/scheme-id-impl.cpp
Labels: bug

#599 clean up discreteuniformgenerator usage and eliminate unnecessary use of SetFormat
  benchmark/src/VectorMath.cpp
  benchmark/src/lib-benchmark.cpp
  src/binfhe/lib/lwe-pke.cpp
  src/binfhe/lib/rgsw-acc-cggi.cpp
  src/binfhe/lib/rgsw-acc-dm.cpp
  src/binfhe/lib/rgsw-acc-lmkcdey.cpp
  src/core/extras/ntt2.cpp
  src/core/include/lattice/hal/dcrtpoly-interface.h
  src/core/include/lattice/hal/default/dcrtpoly-impl.h
  src/core/include/lattice/hal/default/poly-impl.h
  src/core/include/lattice/hal/poly-interface.h
  src/core/include/lattice/matrix-lattice-impl.h
  src/core/include/math/discretegaussiangenerator-impl.h
  src/core/include/math/discretegaussiangenerator.h
  src/core/include/math/discretegaussiangeneratorgeneric.h
  src/core/include/math/discreteuniformgenerator-impl.h
  src/core/include/math/discreteuniformgenerator.h
  src/core/unittest/UnitTestDistrGen.cpp
  src/core/unittest/UnitTestPolyElements.cpp
  src/core/unittest/UnitTestTrapdoor.cpp
  src/pke/lib/keyswitch/keyswitch-bv.cpp
  src/pke/lib/keyswitch/keyswitch-hybrid.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-multiparty.cpp
  src/pke/lib/schemebase/base-advancedshe.cpp
  src/pke/lib/schemebase/base-multiparty.cpp
Labels: cleanup, optimization

#603 Fixes for serialization
  src/pke/include/cryptocontext-ser.h
  src/pke/include/scheme/bfvrns/bfvrns-ser.h
  src/pke/include/scheme/bgvrns/bgvrns-ser.h
  src/pke/include/scheme/ckksrns/ckksrns-ser.h
  src/pke/include/schemebase/base-ser.h
  src/pke/include/schemerns/rns-ser.h
Labels: bug

#609 Revert "Create one map for all automorphism keys (#566)"
  src/pke/include/cryptocontext.h
  src/pke/include/schemebase/base-advancedshe.h
  src/pke/include/schemebase/base-leveledshe.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-schemeswitching.cpp
  src/pke/lib/schemebase/base-advancedshe.cpp
  src/pke/lib/schemebase/base-leveledshe.cpp
  src/pke/lib/schemebase/base-scheme.cpp
  src/pke/unittest/utils/UnitTestSer.h
Labels: bug
