Repository openfheorg/openfhe-development, pull requests merged in 2023-07, with the labels that each got.

#462 Missing config_core.h
  CMakeLists.txt
Labels: bug

#465 Compilation error on uint
  src/pke/examples/inner-product.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrnsInnerProduct.cpp
Labels: bug

#463 Problem with two coexisting CKKS crypto contexts with different ring dimensions
  benchmark/src/fft-ckks-encoding.cpp
  src/core/include/math/dftransform.h
  src/core/lib/math/dftransform.cpp
  src/pke/lib/encoding/ckkspackedencoding.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
  src/pke/unittest/UnitTestCoexistingCryptocontexts.cpp
Labels: bug

#467 Small improvements for code readability
  src/pke/include/scheme/ckksrns/ckksrns-leveledshe.h
  src/pke/lib/scheme/bfvrns/bfvrns-parametergeneration.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-leveledshe.cpp
Labels: cleanup

#466 Add numAutoKeys to RingGSWCryptoParams
  src/binfhe/include/binfhecontext.h
  src/binfhe/include/rgsw-acc-lmkcdey.h
  src/binfhe/include/rgsw-cryptoparameters.h
  src/binfhe/lib/binfhecontext.cpp
  src/binfhe/lib/rgsw-acc-lmkcdey.cpp
Labels: cleanup

#472 added support for Compress to BFV for HPS* modes
  src/core/include/math/hal/intnat/ubintnat.h
  src/pke/include/scheme/bfvrns/bfvrns-leveledshe.h
  src/pke/lib/scheme/bfvrns/bfvrns-leveledshe.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-multiparty.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-pke.cpp
  src/pke/unittest/UnitTestSHE.cpp
Labels: new feature

#485 FIx compilation issues for gcc 9
  src/core/include/lattice/elemparams.h
  src/core/include/lattice/hal/default/dcrtpoly.h
  src/core/include/lattice/hal/default/poly.h
  src/core/include/lattice/ilparams.h
  src/core/include/math/hal/bigintdyn/mubintvecdyn.h
  src/core/include/math/hal/bigintdyn/ubintdyn.h
  src/core/include/math/hal/intnat/mubintvecnat.h
  src/core/include/math/hal/intnat/ubintnat.h
Labels: bug

#488 Code for multi-input gates
  src/binfhe/examples/boolean-multi-input.cpp
  src/binfhe/include/binfhe-base-scheme.h
  src/binfhe/include/binfhe-constants.h
  src/binfhe/include/binfhecontext.h
  src/binfhe/include/lwe-ciphertext.h
  src/binfhe/lib/binfhe-base-scheme.cpp
  src/binfhe/lib/binfhe-constants-impl.cpp
  src/binfhe/lib/binfhecontext.cpp
  src/binfhe/lib/lwe-pke.cpp
  src/binfhe/lib/rgsw-cryptoparameters.cpp
  src/binfhe/unittest/UnitTestFHEW.cpp
Labels: new feature

#489 Hardening and optimizations of CKKS bootstrapping for sparse secret distribution
  src/pke/include/README.md
  src/pke/include/scheme/ckksrns/ckksrns-fhe.h
  src/pke/lib/scheme/bfvrns/bfvrns-multiparty.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-pke.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
  src/pke/lib/schemebase/base-multiparty.cpp
  src/pke/lib/schemebase/base-pke.cpp
Labels: optimization

#487 implemented approximate gadget decomposition + optimization for LMKCDEY
  src/binfhe/lib/rgsw-acc-cggi.cpp
  src/binfhe/lib/rgsw-acc-dm.cpp
  src/binfhe/lib/rgsw-acc-lmkcdey.cpp
  src/binfhe/lib/rgsw-acc.cpp
Labels: optimization

#492 Added noise flag for parameter estimator script
  configure/config_core.in
  src/binfhe/lib/lwe-pke.cpp
Labels: new feature

#496 454 fix comments in binfhe documentation
  src/binfhe/README.md
  src/binfhe/include/README.md
  src/binfhe/include/binfhe-base-params.h
  src/binfhe/include/binfhe-base-scheme.h
  src/binfhe/include/binfhe-constants.h
  src/binfhe/include/binfhecontext.h
  src/binfhe/include/lwe-cryptoparameters.h
  src/binfhe/include/lwe-pke.h
  src/binfhe/include/lwe-publickey.h
  src/binfhe/include/rgsw-acc-cggi.h
  src/binfhe/include/rgsw-acc-dm.h
  src/binfhe/include/rgsw-acc-lmkcdey.h
  src/binfhe/include/rgsw-acc.h
  src/binfhe/include/rgsw-acckey.h
  src/binfhe/include/rgsw-cryptoparameters.h
Labels: documentation

#499 FIxed CKKS precision unit tests
  src/pke/unittest/utckksrns/UnitTestCKKSrns.cpp
Labels: bug

#501 trimmed unit tests for scheme switching
  src/pke/unittest/utckksrns/UnitTestSchemeSwitch.cpp
Labels: optimization

#502 Ckks int mp boot tmp
  src/pke/examples/tckks-interactive-mp-bootstrapping-Chebyshev.cpp
  src/pke/examples/tckks-interactive-mp-bootstrapping.cpp
  src/pke/include/constants.h
  src/pke/include/cryptocontext.h
  src/pke/include/scheme/ckksrns/ckksrns-cryptoparameters.h
  src/pke/include/scheme/ckksrns/ckksrns-multiparty.h
  src/pke/include/scheme/ckksrns/ckksrns-parametergeneration.h
  src/pke/include/scheme/ckksrns/gen-cryptocontext-ckksrns-internal.h
  src/pke/include/scheme/cryptocontextparams-base.h
  src/pke/include/scheme/cryptocontextparams-defaults.h
  src/pke/include/schemebase/base-multiparty.h
  src/pke/include/schemebase/base-parametergeneration.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/include/schemerns/rns-cryptoparameters.h
  src/pke/include/schemerns/rns-parametergeneration.h
  src/pke/lib/constants-impl.cpp
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-multiparty.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-parametergeneration.cpp
  src/pke/lib/scheme/cryptocontextparams-base-impl.cpp
  src/pke/lib/schemebase/base-multiparty.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrnsAutomorphism.csv
  src/pke/unittest/utckksrns/UnitTestInteractiveBootstrap.cpp
  src/pke/unittest/utckksrns/UnitTestInteractiveBootstrap.csv
  src/pke/unittest/utils/BaseTestCase.h
  src/pke/unittest/utils/UnitTestReadCSVData.cpp
Labels: new feature

#507 Pke documentation + optimized parameters for LMKCDEY FHEW
  src/binfhe/include/binfhe-constants.h
  src/binfhe/include/binfhecontext.h
  src/binfhe/lib/binfhe-constants-impl.cpp
  src/binfhe/lib/binfhecontext.cpp
  src/pke/examples/advanced-real-numbers-128.cpp
  src/pke/examples/advanced-real-numbers.cpp
  src/pke/include/cryptocontext.h
  src/pke/include/schemebase/base-advancedshe.h
Labels: documentation, optimization

#508 483 implement compiler specific optimizations for ntt and ringmult
  benchmark/src/Lattice.cpp
  benchmark/src/poly-benchmark-16k.cpp
  benchmark/src/poly-benchmark-1k.cpp
  benchmark/src/poly-benchmark-4k.cpp
  benchmark/src/poly-benchmark-64k.cpp
  benchmark/src/vechelper.h
  src/binfhe/lib/lwe-pke.cpp
  src/binfhe/lib/rgsw-acc-cggi.cpp
  src/binfhe/lib/rgsw-acc-dm.cpp
  src/binfhe/lib/rgsw-acc-lmkcdey.cpp
  src/core/include/lattice/hal/dcrtpoly-interface.h
  src/core/include/lattice/hal/default/dcrtpoly-impl.h
  src/core/include/lattice/hal/default/dcrtpoly.h
  src/core/include/lattice/hal/default/poly-impl.h
  src/core/include/lattice/hal/default/poly.h
  src/core/include/lattice/matrix-lattice-impl.h
  src/core/include/math/discreteuniformgenerator-impl.h
  src/core/include/math/distributiongenerator.h
  src/core/include/math/hal/bigintdyn/mubintvecdyn.h
  src/core/include/math/hal/bigintfxd/mubintvecfxd.h
  src/core/include/math/hal/bigintntl/mubintvecntl.h
  src/core/include/math/hal/intnat/mubintvecnat.h
  src/core/include/math/hal/intnat/transformnat-impl.h
  src/core/include/math/hal/intnat/ubintnat.h
  src/core/include/math/hal/vector.h
  src/core/include/utils/parallel.h
  src/core/lib/math/hal/bigintdyn/mubintvecdyn.cpp
  src/core/lib/math/hal/bigintfxd/mubintvecfxd.cpp
  src/core/lib/math/hal/intnat/mubintvecnat.cpp
  src/core/lib/utils/parallel.cpp
Labels: optimization

#450 Issue 434
  src/binfhe/include/lwe-ciphertext.h
  src/binfhe/include/rgsw-acc-dm.h
  src/binfhe/lib/rgsw-acc-dm.cpp
  src/pke/include/ciphertext.h
  src/pke/include/cryptocontext.h
  src/pke/include/encoding/ckkspackedencoding.h
  src/pke/include/encoding/encodingparams.h
  src/pke/include/encoding/plaintext.h
  src/pke/include/schemerns/rns-cryptoparameters.h
Labels: cleanup

#510 Reduced runtime of pke unit tests
  src/pke/unittest/UnitTestMultiparty.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrnsSerialize.cpp
  src/pke/unittest/utckksrns/UnitTestBootstrap.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrnsSerialize.cpp
  src/pke/unittest/utckksrns/UnitTestInteractiveBootstrap.csv
  src/pke/unittest/utckksrns/UnitTestSchemeSwitch.cpp
Labels: cleanup

#514 Documentation changes
  README.md
  docs/index.rst
  docs/sphinx_rsts/intro/quickstart.rst
  docs/sphinx_rsts/intro/tutorials.rst
  docs/sphinx_rsts/misc/contributors.rst
  docs/sphinx_rsts/modules/binfhe.rst
  src/binfhe/examples/boolean-lmkcdey.cpp
  src/binfhe/examples/boolean-multi-input.cpp
Labels: documentation

#515 Compiler errors on macos
  src/core/include/lattice/hal/default/poly-impl.h
  src/core/include/lattice/hal/default/poly.h
  src/core/include/utils/utilities.h
Labels: bug

#517 updated to v1.1.0
  CMakeLists.txt
  README.md
  docs/static_docs/Release_Notes.md
Labels: documentation
