Repository openfheorg/openfhe-development, pull requests merged in 2023-12, with the labels that each got.

#614 fixed EvalAdd ct + pt behavior for CKKS FIXEDMANUAL
  src/pke/lib/schemerns/rns-leveledshe.cpp
Labels: bug

#613 boot for single slot
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-utils.cpp
  src/pke/unittest/utckksrns/UnitTestBootstrap.cpp
Labels: bug

#606 resolve issue 604
  benchmark/src/VectorMath.cpp
  src/binfhe/include/lwe-cryptoparameters.h
  src/binfhe/lib/binfhecontext.cpp
  src/core/include/lattice/hal/default/ildcrtparams.h
  src/core/include/lattice/hal/default/ilparams.h
  src/core/include/math/hal/bigintdyn/transformdyn-impl.h
  src/core/include/math/hal/bigintfxd/transformfxd-impl.h
  src/core/include/math/hal/bigintntl/transformntl-impl.h
  src/core/include/math/hal/intnat/transformnat-impl.h
  src/core/include/math/nbtheory-impl.h
  src/core/include/math/nbtheory.h
  src/core/lib/math/hal/bigintdyn/be4-math-impl.cpp
  src/core/lib/math/hal/bigintfxd/be2-math-impl.cpp
  src/core/lib/math/hal/bigintntl/be6-math-impl.cpp
  src/core/lib/math/hal/intnat/benative-math-impl.cpp
  src/core/unittest/UnitTest128.cpp
  src/core/unittest/UnitTestNTT.cpp
  src/core/unittest/UnitTestNbTheory.cpp
  src/core/unittest/UnitTestPolyElements.cpp
  src/core/unittest/UnitTestTrapdoor.cpp
  src/pke/lib/encoding/packedencoding.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-cryptoparameters.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-parametergeneration.cpp
  src/pke/lib/scheme/bgvrns/bgvrns-parametergeneration.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-parametergeneration.cpp
  src/pke/unittest/UnitTestEncoding.cpp
Labels: bug, documentation

#620 Fixes a bug in the interface for BFV generation
  src/pke/include/scheme/bfvrns/gen-cryptocontext-bfvrns-internal.h
  src/pke/include/schemerns/rns-parametergeneration.h
Labels: bug

#621 Update to v112
  CMakeLists.txt
  docs/sphinx_rsts/misc/contributors.rst
  docs/static_docs/Release_Notes.md
  src/core/include/utils/get-call-stack.h
  src/core/lib/utils/get-call-stack.cpp
  src/pke/examples/scheme-switching.cpp
Labels: documentation, new release

#625 569 fix fast rotations in leveled bfv
  src/pke/lib/scheme/bfvrns/bfvrns-leveledshe.cpp
  src/pke/unittest/utbfvrns/UnitTestBFVrns.cpp
Labels: bug

#627 fixed FLEXIBLEAUTOEXT for large ring dimensions
  src/pke/lib/scheme/ckksrns/ckksrns-parametergeneration.cpp
Labels: bug

#626 Fixed GetBootstrapDepth
  src/pke/examples/iterative-ckks-bootstrapping.cpp
  src/pke/examples/simple-ckks-bootstrapping.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
Labels: bug

#630 Scheme switching improvements
  src/pke/examples/memory_test.cpp
  src/pke/examples/scheme-switching-serial.cpp
  src/pke/examples/scheme-switching.cpp
  src/pke/extras/scheme-switching-timing.cpp
  src/pke/include/cryptocontext.h
  src/pke/include/scheme/ckksrns/ckksrns-schemeswitching.h
  src/pke/include/scheme/ckksrns/ckksrns-ser.h
  src/pke/include/scheme/ckksrns/ckksrns-utils.h
  src/pke/include/scheme/ckksrns/schemeswitching-data-serializer.h
  src/pke/include/schemebase/base-fhe.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-schemeswitching.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-utils.cpp
  src/pke/lib/scheme/ckksrns/schemeswitching-data-serializer.cpp
  src/pke/unittest/utckksrns/UnitTestSchemeSwitch.cpp
Labels: cleanup, optimization

#628 Allow only 2-elem ciphertexts for EvalRotation()
  src/pke/include/ciphertext.h
  src/pke/include/cryptocontext.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/lib/scheme/ckksrns/ckksrns-multiparty.cpp
  src/pke/lib/schemebase/base-leveledshe.cpp
  src/pke/lib/schemerns/rns-leveledshe.cpp
Labels: bug
