Repository openfheorg/openfhe-development, pull requests merged in 2024-10, with the labels that each got.

#857 Unnecessary data copy
  src/core/include/lattice/hal/dcrtpoly-interface.h
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/encoding/ckkspackedencoding.cpp
  src/pke/lib/keyswitch/keyswitch-bv.cpp
  src/pke/lib/keyswitch/keyswitch-hybrid.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-leveledshe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-schemeswitching.cpp
  src/pke/lib/schemebase/base-multiparty.cpp
  src/pke/lib/schemerns/rns-leveledshe.cpp
Labels: bug

#875 Fixed an if condition
  src/pke/lib/scheme/ckksrns/ckksrns-leveledshe.cpp
Labels: bug

#873 Binfhe extended
  benchmark/src/binfhe-ap.cpp
  benchmark/src/binfhe-ginx.cpp
  benchmark/src/binfhe-lmkcdey.cpp
  benchmark/src/binfhe-paramsets.cpp
  src/binfhe/examples/boolean-ap.cpp
  src/binfhe/examples/boolean-lmkcdey.cpp
  src/binfhe/examples/boolean-serial-binary-dynamic-large-precision.cpp
  src/binfhe/examples/boolean-serial-json-dynamic-large-precision.cpp
  src/binfhe/examples/boolean.cpp
  src/binfhe/examples/eval-decomp.cpp
  src/binfhe/examples/eval-flooring.cpp
  src/binfhe/examples/eval-function.cpp
  src/binfhe/examples/eval-sign.cpp
  src/binfhe/examples/pke/boolean-pke.cpp
  src/binfhe/include/binfhe-base-scheme.h
  src/binfhe/include/binfhe-constants.h
  src/binfhe/include/binfhecontext.h
  src/binfhe/include/lwe-keypair.h
  src/binfhe/include/lwe-keyswitchkey.h
  src/binfhe/include/lwe-publickey.h
  src/binfhe/include/rlwe-ciphertext.h
  src/binfhe/lib/binfhe-base-scheme.cpp
  src/binfhe/lib/binfhe-constants-impl.cpp
  src/binfhe/lib/binfhecontext.cpp
  src/binfhe/lib/lwe-pke.cpp
  src/binfhe/unittest/UnitTestFHEW.cpp
  src/binfhe/unittest/UnitTestFHEWExtended.cpp
  src/binfhe/unittest/UnitTestFHEWPKESerial.cpp
  src/binfhe/unittest/UnitTestFHEWSerial.cpp
  src/binfhe/unittest/UnitTestFunc.cpp
  src/pke/examples/scheme-switching.cpp
  src/pke/extras/scheme-switching-timing.cpp
  src/pke/unittest/utckksrns/UnitTestSchemeSwitch.cpp
Labels: bug, new feature, optimization

#880 Added unit tests for larger plaintext moduli in BFV
  src/pke/unittest/UnitTestSHE.cpp
Labels: unit tests

#881 Clean noise during decoding
  src/pke/lib/encoding/coefpackedencoding.cpp
  src/pke/lib/encoding/packedencoding.cpp
  src/pke/lib/encoding/stringencoding.cpp
Labels: cleanup

#884 Update .readthedocs.yaml
  .readthedocs.yaml
Labels: documentation

#887 Additional library flag -ldl
  CMakeLists.txt
  benchmark/CMakeLists.txt
  src/binfhe/CMakeLists.txt
  src/core/CMakeLists.txt
  src/pke/CMakeLists.txt
Labels: new feature

#888 Remove the extra keys in homomorphic decode
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
Labels: bug

#883 Fixed the estimation logic for hybrid key switching
  src/pke/include/schemerns/rns-cryptoparameters.h
  src/pke/lib/scheme/bgvrns/bgvrns-parametergeneration.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-parametergeneration.cpp
  src/pke/lib/schemerns/rns-cryptoparameters.cpp
Labels: bug

#890 Update quickstart.rst
  docs/sphinx_rsts/intro/quickstart.rst
Labels: documentation

#876 intt optimization
  src/core/include/math/hal/intnat/transformnat-impl.h
Labels: optimization

#889 882 add documentation for external PRNG
  docs/sphinx_rsts/modules/core/utils/prng.rst
  src/core/include/utils/prng/blake2engine.h
  src/core/lib/math/distributiongenerator.cpp
Labels: documentation

#893 fixed a bug with parameter selection
  src/pke/lib/scheme/bgvrns/bgvrns-parametergeneration.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-parametergeneration.cpp
  src/pke/lib/schemerns/rns-cryptoparameters.cpp
Labels: bug

#897 Additional support for external PRNGs: make source of entropy configurable
  src/core/include/math/distributiongenerator.h
  src/core/include/utils/memory.h
  src/core/include/utils/prng/blake2engine.h
  src/core/include/utils/prng/prng.h
  src/core/lib/math/distributiongenerator.cpp
  src/core/lib/utils/memory.cpp
  src/core/lib/utils/prng/blake2engine.cpp
Labels: bug, new feature

#899 updated to v1.2.3
  CMakeLists.txt
  docs/static_docs/Release_Notes.md
Labels: new release

#900 Updates to v1.2.3
  CMakeLists.txt
  docs/static_docs/Release_Notes.md
  src/core/include/math/distributiongenerator.h
  src/core/include/utils/memory.h
  src/core/include/utils/prng/blake2engine.h
  src/core/include/utils/prng/prng.h
  src/core/lib/math/distributiongenerator.cpp
  src/core/lib/utils/memory.cpp
  src/core/lib/utils/prng/blake2engine.cpp
Labels: new release
