Repository openfheorg/openfhe-development, pull requests merged in 2024-06, with the labels that each got.

#790 Minor noise estimation fixes for BGV and BFV
  src/pke/include/scheme/bgvrns/bgvrns-parametergeneration.h
  src/pke/lib/scheme/bfvrns/bfvrns-leveledshe.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-parametergeneration.cpp
  src/pke/lib/scheme/bgvrns/bgvrns-parametergeneration.cpp
Labels: bug

#792 Many changes in the HRA-secure PRE implementation based on BGV
  src/pke/examples/README.md
  src/pke/examples/pre-hra-secure.cpp
  src/pke/include/scheme/bfvrns/gen-cryptocontext-bfvrns-params.h
  src/pke/include/scheme/bgvrns/bgvrns-parametergeneration.h
  src/pke/include/scheme/bgvrns/gen-cryptocontext-bgvrns-internal.h
  src/pke/include/scheme/ckksrns/gen-cryptocontext-ckksrns-params.h
  src/pke/include/scheme/gen-cryptocontext-params-defaults.h
  src/pke/include/scheme/gen-cryptocontext-params.h
  src/pke/include/schemebase/base-parametergeneration.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/include/schemerns/rns-parametergeneration.h
  src/pke/lib/scheme/bfvrns/bfvrns-leveledshe.cpp
  src/pke/lib/scheme/bgvrns/bgvrns-parametergeneration.cpp
  src/pke/lib/scheme/gen-cryptocontext-params-impl.cpp
  src/pke/lib/scheme/gen-cryptocontext-params-validation.cpp
  src/pke/lib/schemebase/base-pre.cpp
  src/pke/unittest/UnitTestMultihopPRE.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrnsAutomorphism.csv
  src/pke/unittest/utckksrns/UnitTestInteractiveBootstrap.csv
Labels: bug, new feature, cleanup

#794 Fixed tcmalloc crashes
  src/core/include/utils/demangle.h
  src/core/include/utils/get-call-stack.h
  src/core/lib/utils/demangle.cpp
  src/core/lib/utils/get-call-stack.cpp
Labels: bug

#795 Altered cryptocontext params's validation logic
  src/pke/include/scheme/bgvrns/gen-cryptocontext-bgvrns-params.h
  src/pke/lib/scheme/gen-cryptocontext-params-validation.cpp
Labels: bug

#796 Fix logQ(P) estimation used for finding the minimum ring dimension
  src/pke/include/schemerns/rns-cryptoparameters.h
  src/pke/lib/scheme/bfvrns/bfvrns-parametergeneration.cpp
  src/pke/lib/scheme/bgvrns/bgvrns-parametergeneration.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-parametergeneration.cpp
  src/pke/lib/schemerns/rns-cryptoparameters.cpp
  src/pke/unittest/UnitTestCoexistingCryptocontexts.cpp
Labels: bug

#799 778 fix lmkcdey parameter sets
  benchmark/src/binfhe-paramsets.cpp
  src/binfhe/examples/boolean-multi-input.cpp
  src/binfhe/include/binfhe-constants.h
  src/binfhe/include/binfhecontext.h
  src/binfhe/include/rgsw-cryptoparameters.h
  src/binfhe/lib/binfhe-constants-impl.cpp
  src/binfhe/lib/binfhecontext.cpp
Labels: bug, cleanup

#768 756: Fixed EvalSumColsKeyGen() bug
  src/pke/include/cryptocontext.h
  src/pke/include/encoding/plaintextfactory.h
  src/pke/include/scheme/gen-cryptocontext-params.h
  src/pke/include/schemebase/base-advancedshe.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/encoding/coefpackedencoding.cpp
  src/pke/lib/schemebase/base-advancedshe.cpp
  src/pke/lib/schemebase/base-multiparty.cpp
  src/pke/lib/schemebase/base-scheme.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrnsAutomorphism.cpp
Labels: bug

#793 No repeated primes in the limb moduli for CKKS
  src/pke/lib/scheme/ckksrns/ckksrns-parametergeneration.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrns.cpp
Labels: bug

#677 Fix STATIC_POOLS functionality of utils/blockAllocator
  src/core/include/utils/blockAllocator/blockAllocator.h
  src/core/include/utils/blockAllocator/xallocator.h
  src/core/lib/utils/blockAllocator/blockAllocator.cpp
  src/core/lib/utils/blockAllocator/xallocator.cpp
Labels: bug, cleanup

#805 Issue791
  src/pke/examples/README.md
  src/pke/include/gen-cryptocontext.h
  src/pke/include/scheme/bfvrns/gen-cryptocontext-bfvrns-params.h
  src/pke/include/scheme/bgvrns/bgvrns-parametergeneration.h
  src/pke/include/scheme/bgvrns/gen-cryptocontext-bgvrns-internal.h
  src/pke/include/scheme/ckksrns/gen-cryptocontext-ckksrns-params.h
  src/pke/include/scheme/gen-cryptocontext-params-defaults.h
  src/pke/include/scheme/gen-cryptocontext-params.h
  src/pke/include/scheme/scheme-utils.h
  src/pke/include/schemebase/base-parametergeneration.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/include/schemerns/rns-parametergeneration.h
  src/pke/lib/scheme/bfvrns/bfvrns-leveledshe.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-parametergeneration.cpp
  src/pke/lib/scheme/bgvrns/bgvrns-parametergeneration.cpp
  src/pke/lib/schemerns/rns-cryptoparameters.cpp
  src/pke/unittest/UnitTestMultihopPRE.cpp
Labels: bug, cleanup, unit tests

#807 added lattice parameters for N=64k and 128k
  src/core/lib/lattice/stdlatticeparms.cpp
  src/core/lib/math/dftransform.cpp
Labels: new feature, cleanup

#804 update probability of failure for binfhe paramsets
  src/binfhe/include/binfhe-constants.h
  src/binfhe/lib/binfhecontext.cpp
Labels: optimization

#811 Moved the logic to avoid inserting duplicate automorphism keys to CryptoContextImpl
  src/pke/include/cryptocontext.h
  src/pke/include/schemebase/base-advancedshe.h
  src/pke/include/schemebase/base-leveledshe.h
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/schemebase/base-advancedshe.cpp
  src/pke/lib/schemebase/base-leveledshe.cpp
Labels: bug

#808 261 cannot build with ninja
  PreLoad.cmake
Labels: new feature

#810 added 4-hop test to UnitTestMultihopPRE.cpp
  src/pke/include/scheme/scheme-utils.h
  src/pke/unittest/UnitTestMultihopPRE.cpp
Labels: bug

#814 added special handling for BFV parameterization
  src/pke/lib/schemerns/rns-cryptoparameters.cpp
Labels: bug

#816 Updated the list of cryptocontext params and their descriptions
  src/pke/examples/README.md
Labels: documentation

#818 multi gate lmkcdey
  benchmark/src/binfhe-paramsets.cpp
  src/binfhe/include/binfhe-constants.h
  src/binfhe/lib/binfhe-constants-impl.cpp
  src/binfhe/lib/binfhecontext.cpp
Labels: new feature

#819 Update to v1.2.0
  CMakeLists.txt
  README.md
  docs/requirements.txt
  docs/sphinx_rsts/intro/tutorials.rst
  docs/static_docs/Release_Notes.md
Labels: new release
