Repository openfheorg/openfhe-development, pull requests merged in 2024-09, with the labels that each got.

#859 Clear polynomials during CKKS decryption
  src/pke/lib/encoding/ckkspackedencoding.cpp
Labels: cleanup

#865 Update to v1.2.1
  CMakeLists.txt
  docs/requirements.txt
  docs/static_docs/Release_Notes.md
Labels: documentation

#863 Updated the version of actions-gh-pages to v4 in main.yml
  .github/workflows/main.yml
Labels: ci/cd

#866 Updates main to v1.2.1
  .github/workflows/main.yml
  .github/workflows/manual.yml
  CMakeLists.txt
  benchmark/src/bfv-mult-method-benchmark.cpp
  benchmark/src/compare-bfv-hps-leveled-vs-behz.cpp
  benchmark/src/compare-bfvrns-vs-bgvrns.cpp
  benchmark/src/lib-benchmark.cpp
  benchmark/src/mult-vs-square.cpp
  docs/requirements.txt
  docs/static_docs/Release_Notes.md
  src/binfhe/lib/binfhe-base-scheme.cpp
  src/binfhe/lib/rgsw-cryptoparameters.cpp
  src/core/include/math/discretegaussiangenerator-impl.h
  src/core/include/math/hal/intnat/ubintnat.h
  src/core/include/math/nbtheory.h
  src/core/unittest/UnitTestBlockAllocate.cpp
  src/pke/examples/README.md
  src/pke/include/cryptocontext.h
  src/pke/include/encoding/ckkspackedencoding.h
  src/pke/include/encoding/plaintext.h
  src/pke/include/scheme/bfvrns/gen-cryptocontext-bfvrns-params.h
  src/pke/include/scheme/bgvrns/gen-cryptocontext-bgvrns-params.h
  src/pke/include/scheme/ckksrns/gen-cryptocontext-ckksrns-params.h
  src/pke/include/scheme/gen-cryptocontext-params.h
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/encoding/ckkspackedencoding.cpp
  src/pke/lib/encoding/coefpackedencoding.cpp
  src/pke/lib/scheme/gen-cryptocontext-params-validation.cpp
  src/pke/unittest/UnitTestENCRYPT.cpp
  src/pke/unittest/UnitTestEvalMult.cpp
  src/pke/unittest/UnitTestMultihopPRE.cpp
  src/pke/unittest/UnitTestMultiparty.cpp
  src/pke/unittest/UnitTestPRE.cpp
  src/pke/unittest/UnitTestSHE.cpp
  src/pke/unittest/utbfvrns/UnitTestBFVrns.cpp
  src/pke/unittest/utbfvrns/UnitTestBFVrnsInnerProduct.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrns.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrnsAdvancedSHE.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrnsAutomorphism.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrnsSerialize.cpp
  src/pke/unittest/utckksrns/UnitTestBootstrap.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrns.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrnsAutomorphism.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrnsInnerProduct.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrnsSerialize.cpp
  src/pke/unittest/utckksrns/UnitTestInteractiveBootstrap.cpp
  src/pke/unittest/utckksrns/UnitTestNoiseFlooding.cpp
  src/pke/unittest/utckksrns/UnitTestPoly.cpp
  src/pke/unittest/utckksrns/UnitTestSchemeSwitch.cpp
  src/pke/unittest/utils/UnitTestException.h
  src/pke/unittest/utils/UnitTestReadCSVData.cpp
  src/pke/unittest/utils/UnitTestSer.h
  src/pke/unittest/utils/UnitTestUtils.h
Labels: new release
