Repository openfheorg/openfhe-development, pull requests merged in 2024-02, with the labels that each got.

#646 Fix for slowdown at a large number of threads
  benchmark/src/lib-benchmark.cpp
  benchmark/src/poly-benchmark.h
  src/core/include/lattice/hal/dcrtpoly-interface.h
  src/core/include/lattice/hal/default/dcrtpoly-impl.h
  src/core/include/lattice/hal/default/dcrtpoly.h
  src/core/include/lattice/ilelement.h
  src/pke/lib/scheme/bfvrns/bfvrns-leveledshe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-leveledshe.cpp
  src/pke/unittest/utbfvrns/UnitTestBFVrnsCRTOperations.cpp
Labels: bug

#665 Use of std::vector::reserve()
  src/binfhe/lib/binfhe-base-scheme.cpp
  src/core/include/lattice/hal/default/dcrtpoly-impl.h
  src/core/include/math/matrix-impl.h
  src/core/include/math/matrix.h
  src/core/include/math/matrixstrassen-impl.h
  src/core/include/math/matrixstrassen.h
  src/core/lib/math/discretegaussiangeneratorgeneric.cpp
  src/core/lib/math/nbtheory2.cpp
  src/pke/include/key/evalkeyrelin.h
  src/pke/include/key/publickey.h
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/encoding/coefpackedencoding.cpp
  src/pke/lib/encoding/packedencoding.cpp
  src/pke/lib/keyswitch/keyswitch-bv.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-cryptoparameters.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-multiparty.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-pke.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-multiparty.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-schemeswitching.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-utils.cpp
  src/pke/lib/schemebase/base-advancedshe.cpp
  src/pke/lib/schemebase/base-leveledshe.cpp
  src/pke/lib/schemebase/base-multiparty.cpp
  src/pke/lib/schemebase/base-pke.cpp
  src/pke/lib/schemerns/rns-multiparty.cpp
Labels: optimization

#671 std::is_integral has compiler/platform-dependent behavior for __int128_t
  src/core/include/math/hal/bigintfxd/ubintfxd.h
  src/core/include/math/hal/intnat/ubintnat.h
  src/core/include/math/nbtheory.h
  src/core/include/utils/utilities.h
Labels: bug

#663 Update lwe-pke.cpp
  src/binfhe/include/lwe-pke.h
  src/binfhe/lib/lwe-pke.cpp
Labels: bug, cleanup

#659 Fixed unittest failures when the library is linked with clang++ in th…
  src/binfhe/include/binfhecontext.h
  src/core/include/math/discretegaussiangenerator-impl.h
  src/pke/include/scheme/ckksrns/ckksrns-schemeswitching.h
  src/pke/lib/scheme/ckksrns/ckksrns-leveledshe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-schemeswitching.cpp
  src/pke/unittest/utbfvrns/UnitTestBFVrnsInnerProduct.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrnsInnerProduct.cpp
  src/pke/unittest/utckksrns/UnitTestSchemeSwitch.cpp
Labels: bug
