Repository openfheorg/openfhe-development, pull requests merged in 2024-01, with the labels that each got.

#637 Added <cmath> and std:: to some C++ standard lib function calls
  src/core/include/utils/utilities.h
  src/pke/lib/scheme/bfvrns/bfvrns-leveledshe.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-parametergeneration.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-leveledshe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-utils.cpp
Labels: bug

#638 Some code improvements for scheme switching
  src/core/include/lattice/stdlatticeparms.h
  src/core/lib/lattice/stdlatticeparms.cpp
  src/pke/examples/scheme-switching-serial.cpp
  src/pke/examples/scheme-switching.cpp
  src/pke/extras/scheme-switching-timing.cpp
  src/pke/include/cryptocontext.h
  src/pke/include/scheme/ckksrns/ckksrns-schemeswitching.h
  src/pke/include/scheme/scheme-swch-params.h
  src/pke/include/schemebase/base-fhe.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/lib/scheme/ckksrns/ckksrns-schemeswitching.cpp
  src/pke/lib/scheme/scheme-swch-params.cpp
  src/pke/unittest/utckksrns/UnitTestSchemeSwitch.cpp
Labels: cleanup, optimization

#641 Powerpc s390 support
  src/core/include/math/hal/bigintntl/ubintntl.h
  src/core/include/math/hal/intnat/ubintnat.h
  src/pke/lib/scheme/bfvrns/bfvrns-cryptoparameters.cpp
  src/pke/lib/scheme/bgvrns/bgvrns-cryptoparameters.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-cryptoparameters.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-multiparty.cpp
  src/pke/lib/schemerns/rns-cryptoparameters.cpp
Labels: new feature

#639 Moved EvalSum, Rotation, Bootstrap and Automorphism keys to the same map
  src/pke/include/cryptocontext.h
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/schemebase/base-leveledshe.cpp
Labels: optimization

#654 Removed ./pke/examples/memory_test.cpp as obsolete
  src/pke/examples/memory_test.cpp
Labels: bug

#655 Fixed a type: replaced __GNUG__ with __GNUC__
  src/core/include/utils/get-call-stack.h
  src/core/lib/utils/demangle.cpp
  src/core/lib/utils/get-call-stack.cpp
Labels: bug

#653 652 fix unittest errors on mingw
  src/pke/include/cryptocontext.h
  src/pke/lib/cryptocontext.cpp
Labels: bug
