Repository openfheorg/openfhe-development, pull requests merged in 2024-07, with the labels that each got.

#830 822 compilation issue with gcc 14
  src/core/include/math/nbtheory.h
  src/core/unittest/UnitTestBlockAllocate.cpp
  src/pke/include/scheme/bfvrns/gen-cryptocontext-bfvrns-params.h
  src/pke/include/scheme/bgvrns/gen-cryptocontext-bgvrns-params.h
  src/pke/include/scheme/ckksrns/gen-cryptocontext-ckksrns-params.h
  src/pke/include/scheme/gen-cryptocontext-params.h
  src/pke/lib/encoding/coefpackedencoding.cpp
Labels: bug

#824 clang-specific compiler warnings
  CMakeLists.txt
  src/binfhe/lib/binfhe-base-scheme.cpp
  src/core/include/math/hal/intnat/ubintnat.h
  src/pke/unittest/utbgvrns/UnitTestBGVrnsAdvancedSHE.cpp
Labels: cleanup

#834 Corrected a typo
  src/pke/include/scheme/bfvrns/gen-cryptocontext-bfvrns-params.h
Labels: cleanup

#831 Additional parameter validations for BGV
  src/pke/examples/README.md
  src/pke/lib/scheme/gen-cryptocontext-params-validation.cpp
Labels: bug

#832 Fixed DeserializeEvalMultKey() as it overwrites keymap content
  src/pke/include/cryptocontext.h
Labels: bug

#837 Added new compiler support (up to g++-14 and clang++-18)
  .github/workflows/manual.yml
Labels: ci/cd

#838 Call InsertEvalMultKey() instead of using s_evalMultKeyMap directly
  src/pke/include/cryptocontext.h
  src/pke/lib/cryptocontext.cpp
Labels: bug

#841 fix for improper usage of noexcept
  src/binfhe/lib/rgsw-cryptoparameters.cpp
  src/core/include/math/discretegaussiangenerator-impl.h
Labels: bug

#842 Preparing code for the new openfhe-development release
  benchmark/src/bfv-mult-method-benchmark.cpp
  benchmark/src/compare-bfv-hps-leveled-vs-behz.cpp
  benchmark/src/compare-bfvrns-vs-bgvrns.cpp
  benchmark/src/lib-benchmark.cpp
  benchmark/src/mult-vs-square.cpp
  src/pke/include/cryptocontext.h
  src/pke/include/scheme/gen-cryptocontext-params.h
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/scheme/gen-cryptocontext-params-validation.cpp
  src/pke/unittest/UnitTestENCRYPT.cpp
  src/pke/unittest/UnitTestEvalMult.cpp
  src/pke/unittest/UnitTestMultihopPRE.cpp
  src/pke/unittest/UnitTestMultiparty.cpp
  src/pke/unittest/UnitTestPRE.cpp
  src/pke/unittest/UnitTestSHE.cpp
  src/pke/unittest/utbfvrns/UnitTestBFVrns.cpp
  src/pke/unittest/utbfvrns/UnitTestBFVrnsInnerProduct.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrns.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrnsAdvancedSHE.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrnsAutomorphism.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrnsSerialize.cpp
  src/pke/unittest/utckksrns/UnitTestBootstrap.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrns.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrnsAutomorphism.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrnsInnerProduct.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrnsSerialize.cpp
  src/pke/unittest/utckksrns/UnitTestInteractiveBootstrap.cpp
  src/pke/unittest/utckksrns/UnitTestNoiseFlooding.cpp
  src/pke/unittest/utckksrns/UnitTestPoly.cpp
  src/pke/unittest/utckksrns/UnitTestSchemeSwitch.cpp
  src/pke/unittest/utils/UnitTestException.h
  src/pke/unittest/utils/UnitTestReadCSVData.cpp
  src/pke/unittest/utils/UnitTestSer.h
  src/pke/unittest/utils/UnitTestUtils.h
Labels: bug, cleanup
