Repository openfheorg/openfhe-development, pull requests merged in 2024-03, with the labels that each got.

#685 Moved function's implementation from header to source file
  src/core/include/utils/get-call-stack.h
  src/core/lib/utils/get-call-stack.cpp
Labels: bug

#687 fix for compilation on MacOS
  src/core/include/lattice/hal/default/dcrtpoly-impl.h
  src/pke/lib/scheme/ckksrns/ckksrns-schemeswitching.cpp
Labels: bug

#689 fixed a compilation error affecting python wrapper
  src/pke/include/cryptocontext.h
Labels: bug

#693 Removed #include <malloc.h>
  src/pke/extras/scheme-switching-timing.cpp
Labels: bug

#694 updates the version to v1.1.3
  CMakeLists.txt
  docs/requirements.txt
  docs/static_docs/Release_Notes.md
Labels: new release

#696 Added the readthedocs.yaml file
  .readthedocs.yaml
Labels: documentation

#703 Removed const qualifier (data member in BinFHEContextParams)
  src/binfhe/include/binfhecontext.h
Labels: bug

#704 Fixed JSON backwards compatibility down to v1.0.x
  src/pke/include/schemebase/base-scheme.h
  src/pke/include/schemerns/rns-cryptoparameters.h
Labels: bug

#706 Return m_errorMessage instead of m_errorDescription from what() in OpenFHEException
  src/core/include/utils/exception.h
Labels: bug

#707 incremented the version to v1.1.4
  CMakeLists.txt
  docs/static_docs/Release_Notes.md
Labels: new release

#709 Update Release_Notes.md
  docs/static_docs/Release_Notes.md
Labels: documentation

#708 Updates to v1.1.4
  CMakeLists.txt
  docs/static_docs/Release_Notes.md
  src/binfhe/include/binfhecontext.h
  src/core/include/utils/exception.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/include/schemerns/rns-cryptoparameters.h
Labels: new release

#712 Moved check on optional argument before it is used in EvalCKKStoFHEW
  src/pke/examples/scheme-switching.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-schemeswitching.cpp
Labels: bug

#720 Added support for modulus switching to BFV
  src/pke/include/cryptocontext.h
  src/pke/include/schemerns/rns-cryptoparameters.h
  src/pke/lib/scheme/bfvrns/bfvrns-cryptoparameters.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-leveledshe.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-multiparty.cpp
  src/pke/lib/scheme/bfvrns/bfvrns-pke.cpp
  src/pke/unittest/UnitTestSHE.cpp
  src/pke/unittest/utbfvrns/UnitTestBFVrns.cpp
Labels: bug, new feature, optimization
