Repository openfheorg/openfhe-development, pull requests merged in 2025-03, with the labels that each got.

#939 Add input parameter checks to BinFHEContexts' and in BinFHEScheme's functions
  src/binfhe/lib/binfhe-base-scheme.cpp
  src/binfhe/lib/binfhecontext.cpp
Labels: bug

#931 Composite Scaling CKKS Bootstrapping (#910 phase 3)
  src/pke/examples/iterative-composite-scaling-bootstrapping.cpp
  src/pke/examples/polynomial-evaluation-high-precision-composite-scaling.cpp
  src/pke/examples/simple-composite-scaling-bootstrapping.cpp
  src/pke/include/scheme/ckksrns/ckksrns-fhe.h
  src/pke/lib/scheme/ckksrns/ckksrns-cryptoparameters.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-parametergeneration.cpp
Labels: new feature

#949 V1.2.3 thread safety
  configure/config_core.in
  src/core/include/math/distributiongenerator.h
  src/core/lib/math/distributiongenerator.cpp
Labels: new feature

#950 Updates to v1.2.4
  CMakeLists.txt
  configure/config_core.in
  docs/static_docs/Release_Notes.md
  src/binfhe/lib/binfhe-base-scheme.cpp
  src/binfhe/lib/binfhecontext.cpp
  src/core/include/math/distributiongenerator.h
  src/core/lib/math/distributiongenerator.cpp
  src/pke/unittest/UnitTestCoexistingCryptocontexts.cpp
Labels: new release

#943 fix for intt produces incorrect results if ringdm is 2
  src/core/include/math/hal/intnat/transformnat-impl.h
  src/core/unittest/UnitTestNTT.cpp
Labels: bug
