Repository openfheorg/openfhe-development, pull requests merged in 2025-05, with the labels that each got.

#974 953 documentation
  docs/sphinx_rsts/intro/tutorials.rst
  docs/sphinx_rsts/misc/contributors.rst
  src/pke/examples/COMPOSITE_SCALING.md
  src/pke/examples/INTERACTIVE_BOOTSTRAPPING.md
  src/pke/examples/README.md
  src/pke/examples/function-evaluation-composite-scaling.cpp
  src/pke/examples/iterative-ckks-bootstrapping-composite-scaling.cpp
  src/pke/examples/linearwsum-evaluation-composite-scaling.cpp
  src/pke/examples/scheme-switching-serial.cpp
  src/pke/examples/simple-ckks-bootstrapping-composite-scaling.cpp
  src/pke/examples/simple-real-numbers-composite-scaling.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
Labels: documentation, cleanup

#973 Multiple fixes in comments, renaming, replacing usint with uint32_t, etc.
  src/pke/include/cryptocontext-ser.h
  src/pke/include/cryptocontext.h
  src/pke/lib/cryptocontext.cpp
Labels: documentation, cleanup

#975 Replaced dynamic_cast with typeid() to fix failures in unittests linked with clang++-18 and running on MacOS
  src/core/include/lattice/hal/default/ilparams.h
Labels: bug

#977 953 part2
  src/pke/examples/COMPOSITE_SCALING.md
  src/pke/examples/README.md
  src/pke/examples/iterative-ckks-bootstrapping-composite-scaling.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-cryptoparameters.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-leveledshe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-parametergeneration.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrnsCompositeScaling.cpp
Labels: documentation

#980 910 small bootstrapping changes
  src/pke/include/scheme/ckksrns/ckksrns-fhe.h
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
Labels: new feature, cleanup

#987 Update to v1.3
  CMakeLists.txt
  README.md
  docs/sphinx_rsts/intro/tutorials.rst
  docs/static_docs/Release_Notes.md
  src/pke/examples/README.md
  src/pke/examples/iterative-ckks-bootstrapping-composite-scaling.cpp
  src/pke/examples/polynomial-evaluation-high-precision-composite-scaling.cpp
  src/pke/examples/simple-ckks-bootstrapping-composite-scaling.cpp
  src/pke/examples/simple-complex-numbers.cpp
  src/pke/examples/simple-composite-scaling-manual.cpp
  src/pke/examples/simple-real-numbers-composite-scaling.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-leveledshe.cpp
Labels: new release
