Repository openfheorg/openfhe-development, pull requests merged in 2025-01, with the labels that each got.

#928 Add Composite Scaling Technique Mode (#910 phase 1)
  src/pke/examples/simple-composite-scaling.cpp
  src/pke/include/constants-defs.h
  src/pke/include/scheme/bfvrns/gen-cryptocontext-bfvrns-params.h
  src/pke/include/scheme/bgvrns/gen-cryptocontext-bgvrns-params.h
  src/pke/include/scheme/ckksrns/ckksrns-cryptoparameters.h
  src/pke/include/scheme/ckksrns/gen-cryptocontext-ckksrns-internal.h
  src/pke/include/scheme/gen-cryptocontext-params-defaults.h
  src/pke/include/scheme/gen-cryptocontext-params.h
  src/pke/include/schemerns/rns-cryptoparameters.h
  src/pke/lib/constants-impl.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-cryptoparameters.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-leveledshe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-parametergeneration.cpp
  src/pke/lib/scheme/gen-cryptocontext-params-impl.cpp
  src/pke/lib/scheme/gen-cryptocontext-params-validation.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrnsAutomorphism.csv
  src/pke/unittest/utckksrns/UnitTestInteractiveBootstrap.csv
  src/pke/unittest/utils/UnitTestUtils.h
Labels: new feature

#923 Refactor the code of FindBootstrapRotationIndices() and its helper functions (standardize the use of uint32_t: phase 1)
  src/pke/include/scheme/ckksrns/ckksrns-fhe.h
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
Labels: cleanup

#924 Massive changes to standardize the use of uint32_t: phase 2
  src/pke/include/scheme/ckksrns/ckksrns-utils.h
  src/pke/lib/scheme/ckksrns/ckksrns-utils.cpp
Labels: cleanup

#934 Disabled mutable operations for BFV and added unit tests for CKKS and BGV mutable operations
  src/pke/include/scheme/bfvrns/bfvrns-leveledshe.h
  src/pke/lib/scheme/bfvrns/bfvrns-leveledshe.cpp
  src/pke/unittest/UnitTestSHE.cpp
Labels: bug
