Repository openfheorg/openfhe-development, pull requests merged in 2025-08, with the labels that each got.

#1034 1033 bgv bug
  src/pke/lib/scheme/bgvrns/bgvrns-parametergeneration.cpp
Labels: bug

#1030 Add sparse encapsulation for CKKS-based bootstrapping
  src/core/include/lattice/constants-lattice.h
  src/core/lib/lattice/constants-lattice-impl.cpp
  src/pke/examples/README.md
  src/pke/examples/functional-bootstrapping-ckks.cpp
  src/pke/include/README.md
  src/pke/include/cryptocontext.h
  src/pke/include/scheme/ckksrns/ckksrns-fhe.h
  src/pke/include/schemebase/base-fhe.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
  src/pke/lib/scheme/gen-cryptocontext-params-validation.cpp
  src/pke/lib/schemebase/base-multiparty.cpp
  src/pke/lib/schemebase/base-pke.cpp
  src/pke/unittest/utckksrns/UnitTestBootstrap.cpp
  src/pke/unittest/utckksrns/UnitTestFuncBT.cpp
  test/Main_TestAll.cpp
Labels: optimization

#1042 Partial FBT Refactor
  README.md
  src/pke/examples/CKKS_FUNCTIONAL_BOOTSTRAPING.md
  src/pke/examples/FUNCTION_EVALUATION.md
  src/pke/examples/README.md
  src/pke/examples/functional-bootstrapping-ckks.cpp
  src/pke/extras/ckks-bootstrap.cpp
  src/pke/include/cryptocontext.h
  src/pke/include/scheme/bfvrns/bfvrns-leveledshe.h
  src/pke/include/scheme/bgvrns/bgvrns-leveledshe.h
  src/pke/include/scheme/ckksrns/ckksrns-fhe.h
  src/pke/include/scheme/ckksrns/ckksrns-leveledshe.h
  src/pke/include/scheme/ckksrns/ckksrns-utils.h
  src/pke/include/scheme/scheme-swch-params.h
  src/pke/include/schemebase/base-fhe.h
  src/pke/include/schemebase/base-leveledshe.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/include/schemelet/rlwe-mp.h
  src/pke/include/schemerns/rns-cryptoparameters.h
  src/pke/include/schemerns/rns-leveledshe.h
  src/pke/include/schemerns/rns-scheme.h
  src/pke/lib/scheme/bfvrns/bfvrns-leveledshe.cpp
  src/pke/lib/scheme/bgvrns/bgvrns-leveledshe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-leveledshe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-schemeswitching.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-utils.cpp
  src/pke/lib/schemebase/base-leveledshe.cpp
  src/pke/lib/schemebase/base-scheme.cpp
  src/pke/lib/schemelet/rlwe-mp.cpp
  src/pke/lib/schemerns/rns-leveledshe.cpp
  src/pke/unittest/utckksrns/UnitTestBootstrap.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrnsCompositeScalingBootstrap.cpp
  src/pke/unittest/utckksrns/UnitTestFBT.cpp
  src/pke/unittest/utckksrns/UnitTestSchemeSwitch.cpp
Labels: documentation, cleanup, optimization

#1043 updates to v1.4.0
  CMakeLists.txt
  README.md
  docs/index.rst
  docs/static_docs/Release_Notes.md
Labels: new release
