Repository openfheorg/openfhe-development, pull requests merged in 2025-04, with the labels that each got.

#956 Addressed compiler errors from clang-18
  src/pke/unittest/utckksrns/UnitTestCKKSrnsCompositeScaling.cpp
  src/pke/unittest/utckksrns/UnitTestCompositeScalingBootstrap.cpp
Labels: bug

#947 Interactive 2party bootstrapping
  src/pke/examples/interactive-bootstrapping.cpp
  src/pke/include/cryptocontext.h
  src/pke/include/scheme/ckksrns/ckksrns-multiparty.h
  src/pke/include/schemebase/base-multiparty.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/include/schemerns/rns-multiparty.h
  src/pke/lib/scheme/ckksrns/ckksrns-multiparty.cpp
  src/pke/lib/schemebase/base-multiparty.cpp
  src/pke/lib/schemerns/rns-multiparty.cpp
  src/pke/unittest/utckksrns/UnitTestInteractiveBootstrap.cpp
  src/pke/unittest/utckksrns/UnitTestInteractiveBootstrap.csv
Labels: new feature

#960 Cleartext chebyshev
  src/core/include/math/chebyshev.h
  src/core/lib/math/chebyshev.cpp
  src/pke/examples/function-evaluation.cpp
Labels: documentation

#946 Corrections to CMakeLists.txt for the test coverage report
  CMakeLists.txt
Labels: bug

#966 Check if Specified BINFHE_METHOD and BINFHE_PARAMSET are compatible within GenerateBinFHEContext()
  src/binfhe/include/binfhe-constants.h
  src/binfhe/include/binfhecontext.h
  src/binfhe/lib/binfhe-constants-impl.cpp
  src/binfhe/lib/binfhecontext.cpp
Labels: bug, new feature

#962 Composite scaling minor updates
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-parametergeneration.cpp
  src/pke/lib/scheme/gen-cryptocontext-params-validation.cpp
Labels: new feature

#972 Fixed failures in openfhe-python tests linked with clang++-18
  src/core/include/lattice/hal/default/ildcrtparams.h
Labels: bug

#963 Composite scaling manual tests
  src/core/include/math/hal/basicint.h
  src/pke/examples/simple-composite-scaling-manual.cpp
  src/pke/lib/scheme/gen-cryptocontext-params-validation.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrnsCompositeScaling.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrnsCompositeScalingBootstrap.cpp
  src/pke/unittest/utils/UnitTestCCParams.cpp
  src/pke/unittest/utils/UnitTestCCParams.h
  src/pke/unittest/utils/UnitTestCryptoContext.cpp
Labels: new feature

#965 Complex CKKS version
  src/pke/examples/FUNCTION_EVALUATION.md
  src/pke/examples/README.md
  src/pke/examples/scheme-switching.cpp
  src/pke/examples/simple-complex-numbers.cpp
  src/pke/extras/scheme-switching-timing.cpp
  src/pke/include/constants-defs.h
  src/pke/include/constants.h
  src/pke/include/cryptocontext.h
  src/pke/include/cryptoobject.h
  src/pke/include/encoding/ckkspackedencoding.h
  src/pke/include/encoding/coefpackedencoding.h
  src/pke/include/encoding/encodingparams.h
  src/pke/include/encoding/packedencoding.h
  src/pke/include/encoding/plaintext-fwd.h
  src/pke/include/encoding/plaintext.h
  src/pke/include/encoding/plaintextfactory.h
  src/pke/include/encoding/stringencoding.h
  src/pke/include/scheme/bfvrns/gen-cryptocontext-bfvrns-params.h
  src/pke/include/scheme/bgvrns/gen-cryptocontext-bgvrns-params.h
  src/pke/include/scheme/ckksrns/ckksrns-cryptoparameters.h
  src/pke/include/scheme/ckksrns/ckksrns-leveledshe.h
  src/pke/include/scheme/ckksrns/gen-cryptocontext-ckksrns-internal.h
  src/pke/include/scheme/gen-cryptocontext-params-defaults.h
  src/pke/include/scheme/gen-cryptocontext-params.h
  src/pke/include/schemebase/base-leveledshe.h
  src/pke/include/schemebase/base-scheme.h
  src/pke/include/schemerns/rns-cryptoparameters.h
  src/pke/lib/constants-impl.cpp
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/encoding/ckkspackedencoding.cpp
  src/pke/lib/encoding/packedencoding.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-leveledshe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-schemeswitching.cpp
  src/pke/lib/scheme/gen-cryptocontext-params-impl.cpp
  src/pke/lib/scheme/gen-cryptocontext-params-validation.cpp
  src/pke/unittest/UnitTestEvalMultMany.cpp
  src/pke/unittest/utbgvrns/UnitTestBGVrnsAutomorphism.csv
  src/pke/unittest/utckksrns/UnitTestBootstrap.cpp
  src/pke/unittest/utckksrns/UnitTestCKKSrns.cpp
  src/pke/unittest/utckksrns/UnitTestInteractiveBootstrap.csv
  src/pke/unittest/utckksrns/UnitTestSchemeSwitch.cpp
  src/pke/unittest/utils/UnitTestCCParams.h
  src/pke/unittest/utils/UnitTestCryptoContext.cpp
Labels: new feature

#968 Add missing CCParams values to cryptocontext
  src/pke/include/scheme/bfvrns/bfvrns-cryptoparameters.h
  src/pke/include/scheme/bfvrns/gen-cryptocontext-bfvrns-internal.h
  src/pke/include/scheme/bgvrns/bgvrns-cryptoparameters.h
  src/pke/include/scheme/bgvrns/bgvrns-leveledshe.h
  src/pke/include/scheme/bgvrns/gen-cryptocontext-bgvrns-internal.h
  src/pke/include/scheme/ckksrns/ckksrns-cryptoparameters.h
  src/pke/include/scheme/ckksrns/ckksrns-leveledshe.h
  src/pke/include/scheme/ckksrns/gen-cryptocontext-ckksrns-internal.h
  src/pke/include/schemebase/base-cryptoparameters.h
  src/pke/include/schemebase/base-leveledshe.h
  src/pke/include/schemebase/rlwe-cryptoparameters.h
  src/pke/include/schemerns/rns-cryptoparameters.h
  src/pke/lib/scheme/bgvrns/bgvrns-leveledshe.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-leveledshe.cpp
  src/pke/lib/schemerns/rns-leveledshe.cpp
Labels: new feature
