Repository openfheorg/openfhe-development, pull requests merged in 2025-09, with the labels that each got.

#1049 Use the absolute path to demoData instead of the directory name only
  src/pke/unittest/utils/schemeswitching-data-serializer.cpp
  src/pke/unittest/utils/schemeswitching-data-serializer.h
Labels: bug, unit tests

#1055 EvalFastRotation: add an overload that computes cyclotomic order
  src/pke/include/cryptocontext.h
Labels: cleanup

#1056 Update CMakeLists.User.txt to remove need for LD_LIBRARY_PATH
  CMakeLists.User.txt
Labels: usability improvement
