Repository openfheorg/openfhe-development, pull requests merged in 2025-07, with the labels that each got.

#1008 Remove need for mutable from plaintext.h
  src/pke/include/cryptocontext.h
  src/pke/include/encoding/encodingparams.h
  src/pke/include/encoding/plaintext.h
  src/pke/lib/cryptocontext.cpp
  src/pke/lib/encoding/stringencoding.cpp
  src/pke/unittest/UnitTestSHE.cpp
Labels: cleanup

#1013 995 improve exception handling
  src/pke/include/ciphertext.h
  src/pke/include/cryptocontext.h
  src/pke/lib/ciphertext-impl.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-cryptoparameters.cpp
  src/pke/lib/scheme/ckksrns/ckksrns-schemeswitching.cpp
  src/pke/lib/scheme/gen-cryptocontext-params-validation.cpp
Labels: bug

#1015 fixes the bug with CKKS bootstrapping for N=2^17
  src/pke/lib/scheme/ckksrns/ckksrns-fhe.cpp
Labels: bug

#1016 updated release to v1.3.1
  CMakeLists.txt
  README.md
  docs/sphinx_rsts/misc/contributors.rst
  docs/static_docs/Release_Notes.md
Labels: documentation

#1021 Supressed the error caused by an uninitialized variable in google-test
  CMakeLists.txt
  src/binfhe/CMakeLists.txt
  src/core/CMakeLists.txt
  src/pke/CMakeLists.txt
Labels: cleanup

#1023 Added new overloads of EvalSubInPlace() to CryptoContext
  src/pke/include/cryptocontext.h
Labels: new feature

#1019 976 typeid instead of dynamic_cast
  src/pke/include/cryptocontext.h
  src/pke/include/encoding/ckkspackedencoding.h
  src/pke/include/encoding/coefpackedencoding.h
  src/pke/include/encoding/packedencoding.h
  src/pke/include/encoding/stringencoding.h
  src/pke/include/scheme/bfvrns/bfvrns-scheme.h
  src/pke/include/scheme/bgvrns/bgvrns-scheme.h
  src/pke/include/scheme/ckksrns/ckksrns-scheme.h
  src/pke/include/schemebase/rlwe-cryptoparameters.h
  src/pke/include/schemerns/rns-cryptoparameters.h
  src/pke/lib/cryptocontext.cpp
Labels: cleanup

#1018 CMakeLists.txt changes to the cmake version and for the Debug mode
  CMakeLists.User.txt
  CMakeLists.txt
Labels: new feature
